
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Thin.otf") format("opentype");
  font-weight: 300; /* Nét thanh mảnh */
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
  font-weight: 500; /* Nét vừa (mặc định) */
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Ultra.otf") format("opentype");
  font-weight: 900; 
  font-style: normal;
}




header .nav-link {
  font-family: "Gotham", sans-serif;
  font-weight: 500;            
  font-size: 14px;
  color: #282828;              
  text-transform: uppercase;   
  padding: 10px 16px;
  transition: all 0.3s ease;
}


header .nav-underline .nav-link:hover {
  color: #b78735;            
  border-bottom-color: #bd7b0a;
}

.product-section .row.g-3 {
  position: relative;
  top: -10px; 
}

 .product-section .bg-white{
  position: relative;
  top: -80px; 
  z-index: 100; 
  border-radius: 10px;
}

.mx-auto{
  width: 130px;
  height: 3px;
  background-color: #b78735;
}